# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# VS Code
.vscode/

# PyTorch model files
*.pt
*.pth
*.ckpt

# Logs
*.log

# Dataset (optional if large)
data/

# Python build
build/
dist/
*.egg-info/

# Environment files
.env